@inherits LayoutComponentBase

<header role="banner">
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <CascadingValue Value="@Slug">
                        <NavMenu />
                    </CascadingValue>
                    
                    @*<partial name="Partial/_Menu.cshtml" />*@
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main-body">
    <CascadingValue Value="@Slug">
        @Body
    </CascadingValue>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Copyright &copy; 2018 Piranha CMS | <a href="https://twitter.com/piranhacms">@@piranhacms</a>
                    </div>
                </div>
            </div>
        </footer>
</div>

@code
{
    [Parameter]
    public string Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //_content = await GetContent();
        this.StateHasChanged();
    }


}