@page "/pagewide/{Id:guid}"
@page "/pagewide"
@inherits BlazorWeb.Pages.PiranhaComponentBase<BlazorWeb.Models.StandardPage>
@using Microsoft.AspNetCore.Authorization;
@using Piranha.AspNetCore.Models;
@using Piranha.AspNetCore.Services;
@using Microsoft.EntityFrameworkCore;
@using Piranha;
@*@Html.DisplayFor(m => m.Hero)*@

<HeroComponent Hero="@Model?.Hero" />

<div class="container body-container wide">
    <div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">
            @if (Model?.Blocks != null && Model.Blocks.Any())
            {
                foreach (var block in Model.Blocks)
                {
                    <BlockComponent Block="@block" />
                }
            }
        </div>
    </div>
</div>