@using Microsoft.AspNetCore.Mvc.Routing
@inherits ComponentBase
@inject NavigationManager NavigationManager

@if (Quotes != null && Quotes.Count > 0)
{
    <div class="quotes">
        <div class="container">
            @foreach (var teaser in Quotes)
            {
                <div class="row justify-content-center">
                    <div class="col-md-10 col-xs-12">
                        <div class="quote">
                            <div class="row">
                                <div class="col-lg-3 col-xl-2">
                                    <img src="@NavigationManager.ToAbsoluteUri(((string)teaser.Image).TrimStart('~'))">
                                </div>
                                <div class="col-lg-9 col-xl-10">
                                    <div class="quote-body">
                                        @((MarkupString)teaser.Body.Value)
                                    </div>
                                    <div class="quote-name">
                                        @teaser.Title.Value
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code
{
    [Parameter]
    public IList<Teaser> Quotes { get; set; }
    
}
