@inject ManagerLocalizer Localizer

<!-- The Modal -->
<div class="modal modal-panel fade" id="postpicker">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title"><i class="fas fa-copy"></i> @Localizer.General["Select post"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body bg-light">
                <div class="form-group d-flex justify-content-center">
                    <select id="postpicker-archive" class="form-control select2" v-model="currentArchiveId">
                        <option :value="archive.id" v-for="archive in archives">{{ archive.title }}</option>
                    </select>
                    <select id="postpicker-site" class="form-control select2" v-if="sites.length > 1" v-model="currentSiteId">
                        <option :value="site.id" v-for="site in sites">{{ site.title }}</option>
                    </select>
                </div>

                <div class="form-group mt-3">
                    <input id="postpickerSearch" class="form-control" v-model="search" v-on:keyup.enter="onEnter" placeholder="@Localizer.General["Search..."]" />
                </div>

                <table class="table table-borderless table-media">
                    <thead>
                        <tr>
                            <th>@Localizer.General["Name"]</th>
                            <th class="td-medium">@Localizer.General["Publish date"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="post in filteredPosts">
                            <td><a href="#" v-on:click.prevent="select(post)">{{ post.title }}</a></td>
                            <td>{{ post.published }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>